.boton{
    background-color: #2C8F20;
    text-decoration: none;
    color: #FAFAFB;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    display: inline-block;
}
footer {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    font-size: 11px;
    font-weight: 600;
    background-color: #E96093;
    padding: 15px;
    border-radius: 5px;
}
.marcos {
    color: rgb(19, 18, 18); 
    margin: auto;
    margin-bottom: 0px;
    border-radius: 5px;
    width: 85%;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    background-image: url(../../public/image/Fondo-de-juegos.webp);

}
img{
    max-width: 75%;
    margin-top: 20px;
}
.general {
    background-color: white;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 5px;
}
.texto{max-width: 600px;
      overflow: hidden;
       overflow-wrap: break-word;
       white-space: normal;
}
p{
    color: white;
}
h1 {
    color: black;
}
h2 {
    color: white;
}